name: Flask CI

on:
  push:    # triggers on push to any branch
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest

      # ----- Flake8 linting -----
      - name: Lint with flake8
        run: |
          flake8 . --max-line-length=90

      # ----- Pytest unit test -----
      - name: Run unit tests
        run: |
          pytest tests/

      # ----- Build Docker image -----
      - name: Build Docker image
        run: |
          docker build -t hasnishoro/flask-app:ci-${{ github.sha }} .
